<kui-progress-indicator *ngIf="loading"></kui-progress-indicator>

<div class="main-content" *ngIf="!loading">
    <div class="resource"  *ngFor="let obj of resource.resources">
        <h3 class="mat-card-subtitle">{{resource.ontologyInformation.getLabelForResourceClass(obj.type)}}</h3>
        <h2 class="mat-card-title">{{resource?.ontologyInformation.getLabelForResourceClass(obj.type)}}</h2>

        <div *ngFor="let prop of obj?.properties | kuiKey">
            <p>{{resource.ontologyInformation.getLabelForProperty(prop.key)}}</p>

            <!-- if the property is of type stillImageFileValue, show the image with osd viewer from @knora/viewer -->
            <div *ngIf="prop.key === KnoraConstants.hasStillImageFileValue; else noImage">
                Here should be the kui-still-image (osd-viewer). <br> This resource has <strong>{{obj.stillImageRepresentationsToDisplay.length}} image(s)</strong>
                <kui-still-image *ngIf="obj.stillImageRepresentationsToDisplay.length > 0"
                                 class="osd-viewer"
                                 [images]="obj?.stillImageRepresentationsToDisplay"
                                 [imageRangeStart]="0"
                                 [imageRangeEnd]="0"
                                 [imageChangeInterval]="1">
                </kui-still-image>
            </div>

            <ng-template #noImage>

                <ul>
                    <li *ngFor="let val of prop?.value">

                        <span [ngSwitch]="val.getClassName()">
                            <kui-text-value-as-string *ngSwitchCase="KnoraConstants.ReadTextValueAsString" [valueObject]="val"></kui-text-value-as-string>
                            <kui-text-value-as-xml *ngSwitchCase="KnoraConstants.ReadTextValueAsXml" [valueObject]="val"></kui-text-value-as-xml>
                            <kui-date-value *ngSwitchCase="KnoraConstants.ReadDateValue" [valueObject]="val" [calendar]="true" [era]="true"></kui-date-value>
                            <kui-link-value class="app-link" *ngSwitchCase="KnoraConstants.ReadLinkValue" [valueObject]="val" [ontologyInfo]="ontologyInfo" (referredResourceClicked)="openLink(val)"></kui-link-value>
                            <kui-integer-value *ngSwitchCase="KnoraConstants.ReadIntegerValue" [valueObject]="val"></kui-integer-value>
                            <kui-decimal-value *ngSwitchCase="KnoraConstants.ReadDecimalValue" [valueObject]="val"></kui-decimal-value>
                            <kui-geometry-value *ngSwitchCase="KnoraConstants.ReadGeomValue" [valueObject]="val"></kui-geometry-value>
                            <kui-color-value *ngSwitchCase="KnoraConstants.ReadColorValue" [valueObject]="val"></kui-color-value>
                            <kui-uri-value *ngSwitchCase="KnoraConstants.ReadUriValue" [valueObject]="val"></kui-uri-value>
                            <kui-boolean-value *ngSwitchCase="KnoraConstants.ReadBooleanValue" [valueObject]="val"></kui-boolean-value>
                            <kui-interval-value *ngSwitchCase="KnoraConstants.ReadIntervalValue" [valueObject]="val"></kui-interval-value>
                            <kui-list-value *ngSwitchCase="KnoraConstants.ReadListValue" [valueObject]="val"></kui-list-value>
                            <kui-textfile-value *ngSwitchCase="KnoraConstants.TextFileValue" [valueObject]="val"></kui-textfile-value>
                            <span *ngSwitchDefault>Not supported {{val.getClassName()}}</span>
                        </span>

                    </li>
                </ul>
            </ng-template>

            <mat-divider></mat-divider>
        </div>

        <!--
        &lt;!&ndash; Check for incoming images pointing to this resource &ndash;&gt;
        <kui-still-image #OSDViewer class="osd-viewer" *ngIf="resource?.incomingStillImageRepresentations?.length > 0;" (getImages)="changeOffsetForStillImageRepresentations($event)" [images]="resource?.stillImageRepresentationsToDisplay" [imageRangeStart]="0" [imageRangeEnd]="4" [imageChangeInterval]="5">
        </kui-still-image>

        <br>
        <br>

        <div *ngIf="resource?.incomingLinks?.length > 0" class="incoming-link-position">
            <p>
                <strong>Incoming Links:</strong>
            </p>
            <mat-list *ngFor="let incomingLinkSourceRes of resource.incomingLinks">
                <mat-list-item>
                    <span class="link" (click)="showIncomingRes(incomingLinkSourceRes.id, incomingLinkSourceRes.type)">{{incomingLinkSourceRes.label}}</span>
                </mat-list-item>
            </mat-list>
        </div>
        -->

    </div>

</div>

